@use "sass:color" as sass-color;
@use "../variables/services";

#section-clients {
    padding: 50px 0;
    width: 100%;
    overflow: visible;
    position: relative;
    z-index: 10;
}

.section.clients {
    position: relative;
    z-index: 15;
    text-align: center;

    .sliding-clients {
        position: relative;
        z-index: 15;

        &.owl-carousel {
            z-index: 15 !important;
        }
    }

    .list {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .item {
        flex-grow: 1;
        vertical-align: middle;
        padding: 0 20px;
        position: relative;

        img {
            max-height: 70px;
            width: auto !important;
            max-width: 200px;
            filter: grayscale(1);
        }

        .description {
            display: none;
            position: absolute;
            bottom: 100%;
            left: -200px;
            right: -200px;
            z-index: 100;
            pointer-events: auto;

            .box {
                background-color: #333645;
                color: #fff;
                padding: 20px;
                font-size: 0.875rem;
                max-width: 280px;
                margin: 0 auto 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h3 {
                    position: relative;
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: #fff;
                    padding-bottom: 17px;
                    margin: 0;
                }

                p {
                    font-size: 0.8125rem;
                    line-height: 1.375rem;
                    margin-bottom: 0;

                    a {
                        font-weight: 700;
                        text-transform: none;
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .arrow {
                    position: absolute;
                    bottom: 12px;
                    left: 50%;
                    margin-left: -36px;

                    &::after {
                        content: "";
                        margin: auto;
                        display: inline-block;
                        border-color: #333645 transparent transparent;
                        border-style: solid;
                        border-width: 35px 36px 0;
                    }
                }

                a[class^="client-link--"] {
                    margin-top: 11px;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    border-radius: 3px;
                    gap: 5px;
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }

        &:hover,
        &:focus-within {
            img {
                filter: grayscale(0);
            }

            .description {
                display: block;
            }
        }

        .description:hover {
            display: block;
        }
    }
}

.section.clients .list .item .description .box-no-description h3 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.section.clients .list .item .description .box-no-description p {
    display: none;
}

.sliding-clients .owl-stage,
.sliding-partners .owl-stage {
    display: flex;
}

.sliding-clients .owl-stage-outer,
.sliding-partners .owl-stage-outer {
    overflow: inherit;
}

.sliding-clients .item,
.sliding-partners .item {
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
    max-height: 70px;
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
}

.sliding-clients .item .coloured,
.sliding-partners .item .coloured {
    display: none;
}

.sliding-clients .item:hover .coloured,
.sliding-clients .item:focus-within .coloured,
.sliding-partners .item:hover .coloured,
.sliding-partners .item:focus-within .coloured {
    display: inline;
}

.sliding-clients .item:hover .greyscale,
.sliding-clients .item:focus-within .greyscale,
.sliding-partners .item:hover .greyscale,
.sliding-partners .item:focus-within .greyscale {
    display: none;
}

.sliding-clients .item:hover .description {
    display: block;
}

.section.clients .client-link--webdesign.client-link--yellow {
    background-color: #f7b322;

    &:hover,
    &:focus {
        background-color: #d49b1c;
    }
}

@each $service, $service-color in services.$list {
    .section.clients .client-link--#{$service} {
        background-color: $service-color;
    }

    .section.clients .client-link--#{$service}:hover,
    .section.clients .client-link--#{$service}:focus {
        background-color: sass-color.scale($service-color, $lightness: -15%);
    }
}

