@use '../variables/color';
@use '../utilities/typography';
@use '../utilities/media-query' as mq;

#footer-main,
#footer-copy {
    color: color.$text--light;
    
    p {
        margin: 0;
    }
}

#footer-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "footer-logo"
        "footer-social"
        "footer-nav";
}

#footer-main {
    padding-top: 27px;
    color: color.$text--light;
    background-color: color.$brand--normal;
    overflow: hidden;
}

#footer-copy {
    color: color.$text--light;
    background-color: color.$brand--dark;
}
#footer-main h4 { 
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 17.6px;
}

#footer-social,
#footer-about,
#footer-services,
#footer-industries,
#footer-locations {
    margin-bottom: 30px;
}

#footer-copy,
#footer-nav {
    font-size: .8125rem;
    line-height: 1.375;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: color.$text--light;
            text-decoration: none;
            line-height: 22px;
      // Pseudo selector 'hover' state or element
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#footer-logo {
    grid-area: footer-logo;
}

#footer-logo img{
    width: 250px;
    margin-bottom: 20px;

}

#footer-social {
    grid-area: footer-social;
    font-size: 26px;
    line-height: 26px;

    div {
        display: flex;
        flex-direction: row;
// Space between grid/flex children
        gap: 10px;
        margin-bottom: 10px;
        flex-wrap: nowrap;
        width: 250px;
    }
    
    a {
        color: #fff;
        background-color: color.$brand--dark;
        display: inline-block;
        text-align: center;
        padding: 16.25px 18px 14.75px 18px;

        &.i-facebook:hover {
            background-color: #3b5998;
        }

        &.i-linkedin:hover {
            background-color: #0077b5;
        }

        &.i-twitter:hover {
            background-color: #00aced;
        }

        &.i-instagram:hover {
            background-color: #d93175;
        }
    }
}

#footer-nav {
    grid-area: footer-nav;
    display: grid;
    grid-template-columns: 1fr;
}

#footer-copy {
    padding: 13px 0 10px;
    p:last-of-type {
        display: none;
    }

    #footer-copy-dash {
        margin-right: 5px;
        margin-left: 6.5px;
    }
}

.line-break-1260::before {
    content: " ";
}

@include mq.set-breakpoint('480') {
    #footer-logo img{
        width: 320px
    }
}

@include mq.set-breakpoint('768') {
    #footer-logo img{
        width: 320px
    }


    #footer-nav {
        grid-template-columns: 1fr 1fr;
    }

    #footer-copy {
        p,
        p:last-of-type,
        ul {
            display: inline-block;
        }
    }

    #footer-services,
    #footer-locations {
        padding-left: 15px;
    }
}

@include mq.set-breakpoint('992') {
    #footer-nav {
        grid-template-columns: repeat(4, 1fr);
    }

    #footer-industries {
        padding-left: 15px;
    }

    #footer-locations {
        padding-left: 22px;
    }

    #footer-services {
        padding-left: 8px;
    }
}

@include mq.set-breakpoint('1260') {
    #footer-main {
        padding-top: 47px;
    }

    #footer-social,
    #footer-about,
    #footer-services,
    #footer-industries,
    #footer-locations {
        margin-bottom: 40px;
    }

    #footer-nav {
        padding-left: 10px;
    }

    #footer-about {
        padding-left: 6px;
    }

    #footer-industries {
        padding-left: 18px;
    }

    #footer-services {
        padding-left: 12px;
    }

    #footer-locations {
        padding-left: 24px;
    }

    #footer-social div {
        gap: 7px;
    }

    .line-break-1260 {
        display: block;
    }

    .line-break-1260::before {
        content: "";
    }

    #footer-top {
        grid-template-columns: min-content 1fr;
        grid-template-rows: max-content 1fr;
        column-gap: 4rem;
        grid-template-areas: 
            "footer-logo footer-nav"
            "footer-social footer-nav";
    }
}
