@use '../variables/color';
@use '../utilities/media-query' as mq;

$sidebar-width-mobile: 275px;
$sidebar-width-desktop: 350px;

#site-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $sidebar-width-mobile;
    height: 100vh;
    background-color: color.$color--dark;
    color: color.$text--light;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 5;
    pointer-events: none;

    @include mq.set-breakpoint('992') {
        width: $sidebar-width-desktop;
    }

    .sidebar {
        min-height: 100%;
        padding: 0 21px;
        line-height: 1.42857143;

        @include mq.set-breakpoint('992') {
            padding: 0;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@include mq.set-breakpoint('992', max) {
    .sidebar > .main > ul > li > a {
        text-align: center;
    }

    .sidebar > .main > ul > li > a span {
        float: none;
        margin-right: 0;
        display: block;
        position: static;
        top: auto;
    }

    .sidebar > .main > ul > li > .sub-menu-banner > ul > li > a {
        text-align: center;
    }

    .sidebar > .main > ul > li > .sub-menu-banner > ul > li > a .link-text,
    .sidebar > .main > ul > li > a .link-text {
        display: block;
        text-align: center;
    }

    .sidebar > ul > li > .sub-menu-banner {
        margin-left: -21px;
        margin-right: -21px;
    }

    .menu-item-532 {
        display: none;
    }

    .sidebar > ul > li.menu-item-532 > a,
    .sidebar > ul > li.menu-item-194 > a,
    .sidebar > ul > li.menu-item-197 > a,
    .sidebar > ul > li.menu-item-311 > a,
    .sidebar > ul > li.menu-item-190 > a,
    .sidebar > ul > li.menu-item-456 > a {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-532 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-194 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-197 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-311 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-190 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.menu-item-456 > a,
    .sidebar > .main.visible-xs.visible-sm > ul > li.visible-xs.visible-sm > a {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sidebar > .main > ul > li.developer-course {
        position: relative;
        padding-bottom: 20px;
    }
}

body.sidebar-active #site-wrapper {
    transform: translate3d(-$sidebar-width-mobile, 0, 0);
    cursor: pointer;
}

body.sidebar-active #site-sidebar {
    pointer-events: auto;
}

@include mq.set-breakpoint('992') {
    body.sidebar-active #site-wrapper {
        transform: translate3d(-$sidebar-width-desktop, 0, 0);
    }
}

#site-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 900;
}

body.sidebar-active #site-wrapper::after {
    opacity: 1;
    pointer-events: auto;
}

.sidebar > .main > ul {
    margin: -20px 0 0;
}

.sidebar > .main > ul::before,
.sidebar > .main > ul::after {
    content: " ";
    display: table;
}

.sidebar > .main > ul::after {
    clear: both;
}

.sidebar > .main > ul > li {
    padding: 20px 0 0;
}

.sidebar > .main > ul > li > a {
    display: block;
    color: color.$text--light;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1.125rem;
    padding: 19px 0 18px;
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;

    .icon-apps,
    .icon-display,
    .icon-bar-graph,
    .icon-phone_in_talk,
    .icon-code,
    .icon-security,
    .mdi-social-school {
        display: block;
        line-height: 1.42857143;
        font-size: 1.4375rem;
        margin-bottom: 0;

        @include mq.set-breakpoint('992') {
            line-height: 2.25rem;
            font-size: 2.25rem;
            margin-bottom: 10px;
        }
    }

    @include mq.set-breakpoint('992') {
        line-height: 1.42857143;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        font-family: "icomoon" !important;
        speak-as: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-apps::before,
    .icon-display::before,
    .icon-bar-graph::before,
    .icon-phone_in_talk::before,
    .icon-code::before,
    .icon-security::before {
        font-family: "icomoon" !important;
        font-style: normal;
        font-weight: normal;
        display: block;
    }

    .icon-apps::before { content: "\E918"; }
    .icon-display::before { content: "\E905"; }
    .icon-bar-graph::before { content: "\E904"; }
    .icon-phone_in_talk::before { content: "\E902"; }
    .icon-code::before { content: "\E908"; }
    .icon-security::before { content: "\E900"; }

    .mdi-social-school::before {
        font-family: "Material-Design-Icons" !important;
        font-style: normal;
        font-weight: normal;
        display: block;
        content: "\E8DE";
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    span {
        display: block;
        padding-bottom: 10px;
        font-size: 1.438rem;
    }

    small {
        display: block;
        font-size: 0.625rem;
        padding-bottom: 1px;
    }
}

.sidebar > .main > ul > li > .sub-menu-banner {
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #262834;

    .link-icon,
    .link-icon-container {
        display: none;
    }

    > ul {
        padding: 0;
        width: auto !important;

            > li {
                border-top: 1px solid rgba(0, 0, 0, 0.45);

            &:first-child {
                border-top: 0;
            }

            > a {
                display: block;
                background-color: #262834;
                padding: 10px;
                color: color.$text--light;
                text-decoration: none;
                text-transform: uppercase;
                border-top: 1px solid rgba(255, 255, 255, 0.05);

            }
        }
    }
}

.sidebar > .main > ul > li.web > a span { color: #926fb1; }
.sidebar > .main > ul > li.it > a span { color: #4183d7; }
.sidebar > .main > ul > li.telecoms > a span { color: #d64541; }
.sidebar > .main > ul > li.software > a span { color: #67809f; }
.sidebar > .main > ul > li.digital > a span { color: #2ecc71; }
.sidebar > .main > ul > li.security > a span { color: #f62459; }
.sidebar > .main > ul > li.developer-course > a span { color: #ce4125; }

.sidebar > ul {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar > ul > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    > a {
        display: block;
        color: color.$text--light;
        padding: 20px;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1;
        text-decoration: none;

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }

        span {
            font-size: 1.25rem;
            margin-right: 18px;
            display: block;
            float: left;
            position: relative;
            top: -3px;
        }

        small {
            font-size: 1rem;
        }
    }

    > .sub-menu-banner {
        background-color: #262834;

        > ul {
            padding-left: 0;
            width: auto !important;

            > li {
                border-top: 1px solid rgba(0, 0, 0, 0.45);

                > a {
                    display: block;
                    color: color.$text--light;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: #262834;
                    padding: 15px 20px;
                    font-size: 0.875rem;
                    border-top: 1px solid rgba(255, 255, 255, 0.05);
                    position: relative;

                    &:before {
                        content: "\00BB";
                        padding-right: 15px;
                    }

                   .link-icon,
                    .link-icon-container {
                        display: none;
                    }
                }
            }
        }
    }
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    td.visible-xs,
    th.visible-xs {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    td.visible-sm,
    th.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1259px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table;
    }

    tr.visible-md {
        display: table-row !important;
    }

    td.visible-md,
    th.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 1260px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    td.visible-lg,
    th.visible-lg {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1259px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1260px) {
    .hidden-lg {
        display: none !important;
    }
}
