$color--light: #FFF;
$color--dark: #333645;

$brand--normal: #323544;
$brand--dark: #212330;

$text--light: $color--light;
$text--dark: $color--dark;

$bg--normal: $brand--normal;
$bg--dark: $brand--dark;
$bg--light: $color--light;

$border--light: #e5e5e5;