@use '../variables/config';
@use '../utilities/typography' as font;

html {
    font-size: config.$font-size;
}

body {
    min-width: 320px;
    letter-spacing: .4px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; // prevent accidental horizontal overflow on mobile/tablet

    @extend %poppins-regular;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
